# Environnement virtuel
.venv/
venv/

# PyInstaller
dist/
build/
*.spec

# Python cache
__pycache__/
*.pyc
*.pyo

# Base de données locale
*.db
*.sqlite3

# Fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement
.env